<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>108</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>107</string>
					<key>Timestamp</key>
					<string>806446168.889418</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Note taking app/ContentView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                        Button{
</string>
				<key>leading</key>
				<string>                                .font(.system(size: 35))
                        }
</string>
				<key>trailing</key>
				<string>                            notes.append(currentnote)
                            saveNotes()
                            currentnote = ""
</string>
			</dict>
			<key>title</key>
			<string>New note Button</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>100</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>99</string>
					<key>Timestamp</key>
					<string>806446168.889454</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Note taking app/ContentView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                        Button{
</string>
				<key>leading</key>
				<string>                        .frame(width: 100 , height: 50)
                    HStack(spacing: 10){
</string>
				<key>trailing</key>
				<string>                            print("sharing note")
                            //ILL MAKE THIS THE SHARING BUTTON
                        } label: {
</string>
			</dict>
			<key>title</key>
			<string>[PLACEHOLDER] button</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>75</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>74</string>
					<key>Timestamp</key>
					<string>806445847.446579</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Note taking app/ContentView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                        Button{
</string>
				<key>leading</key>
				<string>                                .font(.system(size: 30))
                        }
</string>
				<key>trailing</key>
				<string>                            print("darkmode state: ", darkMode)
                            darkMode.toggle()
                            //dark | light mode switcher!!
</string>
			</dict>
			<key>title</key>
			<string>Dark / Light mode switcher</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>57</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>56</string>
					<key>Timestamp</key>
					<string>806445266.121979</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Note taking app/ContentView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                        Button{
</string>
				<key>leading</key>
				<string>                        .frame(width: 100 , height: 50)
                    HStack(spacing: 10){
</string>
				<key>trailing</key>
				<string>                            print("Deleted the current note")
                            
                            if let index = notes.firstIndex(of: currentnote) {
</string>
			</dict>
			<key>title</key>
			<string>Delete notes button</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>126</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>125</string>
					<key>Timestamp</key>
					<string>806446168.889462</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Note taking app/ContentView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            TextEditor(text: $currentnote)
</string>
				<key>leading</key>
				<string>        
        VStack{
</string>
				<key>trailing</key>
				<string>                .scrollContentBackground(.hidden)
                .background(.ultraThinMaterial)
                .frame(width: 420, height: 550)
</string>
			</dict>
			<key>title</key>
			<string>Text editor (main)</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
